<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN" strict="true">

    <Appenders>
        <Appender type="Console" name="STDOUT" follow="true">
            <Layout type="PatternLayout" pattern="%-5p %d{dd.MM.yyyy HH:mm:ss.SSS} (%c{2}.%M()[%L]) %m%n"/>
        </Appender>

        <Appender type="File" name="FILE" fileName="config/logs.txt">
            <Layout type="PatternLayout" pattern="%-5p %d{dd.MM.yyyy HH:mm:ss.SSS} (%c{2}.%M()[%L]) %m%n"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Logger name="ch.docuteam" level="warn"/>
        <!-- Avoid messages like "will always scan up to maximum bytes." -->
        <Logger name="uk.gov.nationalarchives.droid.core.signature.droid6.InternalSignature" level="error"/>
    	<Logger name="org.apache.fop.apps" level="error"/>
    	<Logger name="com.artofsolving.jodconverter.openoffice.connection.AbstractOpenOfficeConnection" level="error"/>
    	
        <Root level="warn">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

</Configuration>
